<h2>Movies</h2>
<a
  class="nav-link"
  routerLink="/detailMovie"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions]="{ exact: true }">
  <img
    src="assets/images/frozen2.jpg"
    height="142"
    width="100"
    alt="..."/>

    Frozen II</a>
<a
  class="nav-link"
  routerLink="/detailMovie"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions]="{ exact: true }">
  <img
    src="assets/images/frozen2.jpg"
    height="142"
    width="100"
    alt="..."/>

    Frozen II</a>


